<a href="https://colab.research.google.com/github/ahmedmoustafa/AUC-Fundamentals-of-Data-Science-II-Spring-2023/blob/main/problemsets/problemset_1_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming Problem Set #1 - Answers

## Q1. Prime numbers
Write a program that prints out all prime numbers between 1 and 100.

In [1]:
for x in range (2, 101):
  is_prime = True # a boolean flag to set whether the number of prime or not
  for y in range (2, x):
    if x % y == 0:
      is_prime = False # if x is divisible by x then x is not prime
      break # stop here because is no need to continue testing
  
  if is_prime:
    print (x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Q2. Square roots

Write a program that calculates the square root of the numbers 1 to 10 and stores the results in a dictionary, where the keys are the numbers and the values are their square roots.

**Hint**: to calculate the square root of a number in Python, you may raise to the power of 0.5 or use the [`math.sqrt()`](https://www.geeksforgeeks.org/python-math-function-sqrt/) method.

**Example**:

In [2]:
num = 16
print (num ** 0.5)

4.0

In [3]:
import math
print (math.sqrt(num))

4.0

In [4]:
dict = {}

for num in range (1, 11):
  dict[num] = round(num ** 0.5, 3)

print(dict)

{1: 1.0, 2: 1.414, 3: 1.732, 4: 2.0, 5: 2.236, 6: 2.449, 7: 2.646, 8: 2.828, 9: 3.0, 10: 3.162}

## Q3. Reversing a list

Write a program that takes a list of numbers and reverses it without using the [`reverse()`](https://www.geeksforgeeks.org/python-list-reverse/) method

In [5]:
lst = [1, 2, 3, 4, 5]
lst

[1, 2, 3, 4, 5]

## Q4. Palindrome checker

A palindrome is a word, phrase, number, or other sequence of characters that reads the same forward and backward. Write a program that checks if a given string is a palindrome.

In [6]:
word = "racecar"
word

'racecar'

## Q5. Sum of squares

Write a program that calculates the sum of the squares of the first 10 positive integers.

In [7]:
sum_of_sqaures = 0
for i in range(1, 11):
  sum_of_sqaures += i ** 2
  print (i, sum_of_sqaures)
print ()
print ("Sum of Sqaures:", sum_of_sqaures)

1 1
2 5
3 14
4 30
5 55
6 91
7 140
8 204
9 285
10 385

Sum of Sqaures: 385

## Q6. Average of numbers

Write a program that calculates the average of a list of numbers.

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

## Q7. Median of a list

Write a program that calculates the median of a list of numbers. The median is the middle value in a list. If the list has an odd number of values, the median is the middle value. If the list has an even number of values, the median is the average of the middle two values.

**Hint:** You will need to sort the list first.

In [9]:
numbers = [8, 4, 2, 6, 10]
numbers

[8, 4, 2, 6, 10]

In [10]:
numbers.sort() # to sort the list ascendingly
numbers

[2, 4, 6, 8, 10]

## Q8. FizzBuzz

Write a program that prints the numbers from 1 to 100. But for multiples of three, print `Fizz` instead of the number, and for multiples of five, print `Buzz`. For numbers that are multiples of both three and five, print `FizzBuzz`.

**Hint:**. You may use the [modulus](https://www.khanacademy.org/computing/computer-science/cryptography/modarithmetic/a/what-is-modular-arithmetic) operator [`%`](https://www.geeksforgeeks.org/python-operators/).

**Example:**

In [11]:
9 % 3

0

In [12]:
10 % 3

1

## Q9. Count occurrences in a tuple

Write a program that takes a tuple of numbers and counts the number of occurrences of a specific number, 5 in the list below.

In [13]:
numbers = (1, 2, 3, 4, 5, 6, 5, 8, 5, 10)
numbers

(1, 2, 3, 4, 5, 6, 5, 8, 5, 10)

In [14]:
target = 5
target

5

In [15]:
count = 0

for num in numbers:
  if num == target:
    count += 1

print ("Number of occurrences of", target, "is", count)

Number of occurrences of 5 is 3

## Q10. Merge dictionaries

Write a program that merges two dictionaries (`dict1` and `dict2`) together into in a new dictionary (`merged_dict`). If a key exists in both dictionaries, the value in the second dictionary should overwrite the value in the first dictionary.

In [16]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [17]:
dict1 = {"a": 1, "b": 2, "c": 3}
print(dict1)

{'a': 1, 'b': 2, 'c': 3}

In [18]:
dict2 = {"b": 4, "c": 5, "d": 6}
print(dict2)

{'b': 4, 'c': 5, 'd': 6}

### Method #1

In [19]:
merged_dict = dict1.copy()
merged_dict

{'a': 1, 'b': 2, 'c': 3}

In [20]:
merged_dict.update(dict2)
merged_dict

{'a': 1, 'b': 4, 'c': 5, 'd': 6}

### Method #2

In [21]:
merged_dict2 = {}
for key in dict1.keys():
  merged_dict2[key] = dict1[key]
merged_dict2

{'a': 1, 'b': 2, 'c': 3}

In [22]:
for key in dict2.keys():
  merged_dict2[key] = dict2[key]
merged_dict2

{'a': 1, 'b': 4, 'c': 5, 'd': 6}

## Q11. Remove duplicates

Write a program that takes a list of numbers and removes any duplicates, keeping only the first occurrence of each number.

**Hint:** You may consider using the [membership operator](https://www.geeksforgeeks.org/python-membership-identity-operators-not-not/) (`in`).

**Example:**

In [23]:
fruits = ["apple", "organge", "mango", "banana"]
fruits

['apple', 'organge', 'mango', 'banana']

In [24]:
"mango" in fruits # checks whether "mango" belong the list of above list of fruits and returns boolean true

True

In [25]:
"grape" in fruits # checks whether "graps" belong the list of above list of fruits and returns boolean false

False

In [26]:
numbers = [1, 2, 3, 4, 3, 2, 5, 6, 1] # list with duplicates
numbers

[1, 2, 3, 4, 3, 2, 5, 6, 1]

In [27]:
unique_numbers = [] # list with only unique values (no duplicates)
unique_numbers

[]

In [28]:
for num in numbers:
  if num not in unique_numbers:
    unique_numbers.append (num)
    print(unique_numbers)

print ()
print ("Original:", numbers)
print ("Unique:", unique_numbers)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

Original: [1, 2, 3, 4, 3, 2, 5, 6, 1]
Unique: [1, 2, 3, 4, 5, 6]

## Q12. Sum

Write a program to calculate the sum of all items in a list

In [29]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [30]:
sum = 0

for num in numbers:
  sum += num
  print(sum)

print ()
print ("Sum:", sum)

1
3
6
10
15

Sum: 15

## Q13. Frequency
Write a program to calculate the frequency of each element in a list by storing the frequencies in a dictionary. Then, print the dictionary with the frequencies.

In [31]:
numbers = [1, 2, 3, 2, 3, 1, 0, 5, 4, 2, 6]
numbers

[1, 2, 3, 2, 3, 1, 0, 5, 4, 2, 6]

### Method #1

In [32]:
freq = {}
freq

{}

In [33]:
for num in numbers:
  freq[num] = 0
freq

{1: 0, 2: 0, 3: 0, 0: 0, 5: 0, 4: 0, 6: 0}

In [34]:
for num in numbers:
  freq[num] += 1
  print(freq)

print()
print(freq)

{1: 1, 2: 0, 3: 0, 0: 0, 5: 0, 4: 0, 6: 0}
{1: 1, 2: 1, 3: 0, 0: 0, 5: 0, 4: 0, 6: 0}
{1: 1, 2: 1, 3: 1, 0: 0, 5: 0, 4: 0, 6: 0}
{1: 1, 2: 2, 3: 1, 0: 0, 5: 0, 4: 0, 6: 0}
{1: 1, 2: 2, 3: 2, 0: 0, 5: 0, 4: 0, 6: 0}
{1: 2, 2: 2, 3: 2, 0: 0, 5: 0, 4: 0, 6: 0}
{1: 2, 2: 2, 3: 2, 0: 1, 5: 0, 4: 0, 6: 0}
{1: 2, 2: 2, 3: 2, 0: 1, 5: 1, 4: 0, 6: 0}
{1: 2, 2: 2, 3: 2, 0: 1, 5: 1, 4: 1, 6: 0}
{1: 2, 2: 3, 3: 2, 0: 1, 5: 1, 4: 1, 6: 0}
{1: 2, 2: 3, 3: 2, 0: 1, 5: 1, 4: 1, 6: 1}

{1: 2, 2: 3, 3: 2, 0: 1, 5: 1, 4: 1, 6: 1}

### Method #2

In [35]:
freq2 = {}
freq2

{}

In [36]:
for num in numbers:
  if freq2.get(num):
    freq2[num] += 1
  else:
    freq2[num] = 1
  print(freq2)

print()
print(freq2)

{1: 1}
{1: 1, 2: 1}
{1: 1, 2: 1, 3: 1}
{1: 1, 2: 2, 3: 1}
{1: 1, 2: 2, 3: 2}
{1: 2, 2: 2, 3: 2}
{1: 2, 2: 2, 3: 2, 0: 1}
{1: 2, 2: 2, 3: 2, 0: 1, 5: 1}
{1: 2, 2: 2, 3: 2, 0: 1, 5: 1, 4: 1}
{1: 2, 2: 3, 3: 2, 0: 1, 5: 1, 4: 1}
{1: 2, 2: 3, 3: 2, 0: 1, 5: 1, 4: 1, 6: 1}

{1: 2, 2: 3, 3: 2, 0: 1, 5: 1, 4: 1, 6: 1}

### Method #3

To begin, we will make a list of the **unique** numbers in the list. Then, using the list's [`count()`](https://www.geeksforgeeks.org/python-list-count-method/) method, we will go through the **unique** list and *count* the occurrences in the **original** list.

In [37]:
unique_numbers = []

for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num) # adding items to the unique list

print(unique_numbers)

[1, 2, 3, 0, 5, 4, 6]

In [38]:
freq3 = {}

for num in unique_numbers:
    freq3[num] = numbers.count(num) # counting the occurrences in the orignial list and storing in the dictrionary
    print(freq3)

print ()
print (freq3)

{1: 2}
{1: 2, 2: 3}
{1: 2, 2: 3, 3: 2}
{1: 2, 2: 3, 3: 2, 0: 1}
{1: 2, 2: 3, 3: 2, 0: 1, 5: 1}
{1: 2, 2: 3, 3: 2, 0: 1, 5: 1, 4: 1}
{1: 2, 2: 3, 3: 2, 0: 1, 5: 1, 4: 1, 6: 1}

{1: 2, 2: 3, 3: 2, 0: 1, 5: 1, 4: 1, 6: 1}