<a href="https://colab.research.google.com/github/ahmedmoustafa/AUC-Fundamentals-of-Data-Science-II-Spring-2023/blob/main/problemsets/problemset2_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming Problem Set #2 - Answers

**Q1.** Python function that takes a list of numbers and returns their product.

In [1]:
def multiply_numbers(numbers):
  product = 1
  for num in numbers:
    product *= num
  return product

In [2]:
multiply_numbers([2, 3, 4])

24

Alternatively using _variable_ length parameters:

In [3]:
def multiply_numbers(*numbers):
  product = 1
  for num in numbers:
    product *= num
  return product

In [4]:
multiply_numbers(2, 3, 4)

24

**Q2.** Write a Python function to find the maximum and minimum numbers in a list.

In [5]:
def find_min_max(numbers):
  min_num = numbers[0] # Set the min to the first number in the list
  max_num = numbers[0] # Set the max to the first number in the list
  for num in numbers:
    if num > max_num:
      max_num = num
    elif num < min_num:
      min_num = num
  return (min_num, max_num)

In [6]:
find_min_max ([2, 3, 4])

(2, 4)

**Q3.** Write a Python function that takes a list of strings and returns the longest string.

In [7]:
def find_longest_string(strings):
  # Set the longest string to first string in the list
  longest_string = strings[0]
  for string in strings:
    # Compare the length of the current string to the longest string so far
    if len(string) > len(longest_string):
      longest_string = string
  return longest_string

In [8]:
find_longest_string(["Vicky", "Cristina", "Barcelona"])

'Barcelona'

**Q4.** Write a Python function that takes a list of numbers and returns a new list containing only the even numbers.

In [9]:
def filter_even_numbers(numbers):
  even_numbers = [] # create an empty list for the even numbers
  for num in numbers:
    if num % 2 == 0: # if the number is divisable by 2 then it is even
      even_numbers.append (num) # if so, add it to the list of even numbers
  return even_numbers

In [10]:
filter_even_numbers([1, 2, 3, 4])

[2, 4]

**Q5.** Write a Python function that takes a number and returns "Fizz" if the number is divisible by 3, "Buzz" if the number is divisible by 5, and "FizzBuzz" if the number is divisible by both 3 and 5. Otherwise, return the number.

In [11]:
def fizzbuzz(number):
  if number % 3 == 0 and number % 5 == 0:
    return "FizzBuzz"
  elif number % 3 == 0:
    return "Fizz"
  elif number % 5 == 0:
    return "Buzz"
  else:
    return number

In [12]:
fizzbuzz(15)

'FizzBuzz'

In [13]:
fizzbuzz(5)

'Buzz'

In [14]:
fizzbuzz(3)

'Fizz'

In [15]:
fizzbuzz(1)

1

**Q6.** Write a Python function that takes a list of positive numbers and returns the second largest number in the list _without_ sorting the list.

In [16]:
def find_second_largest(numbers):
  largest = -1
  second_largest = -1
  for num in numbers:
    if num > largest:
      second_largest = largest
      largest = num
    elif num > second_largest:
      second_largest = num
  return second_largest

In [17]:
numbers = [2, 5, 7, 1, 8, 3, 9]
find_second_largest(numbers)

8

**Q7.** Write a Python function that takes a string and returns the most common letter in the string.

In [18]:
def find_most_common_letter(string):
  letter_counts = {} # empty dictionary of the characters and their counts
  for letter in string.upper(): # for each character in the string (upper case)
    if letter in letter_counts: # if the char in the dictionary
      letter_counts[letter] += 1 # increase the count by 1
    else:
      letter_counts[letter] = 1 # otherwise, set the count to 1
  
  # Now let's find the largest count
  max_count = -1 # set the max count to -1
  max_letter = '' # set the letter with the max count to ''
  for letter in letter_counts:
    if letter_counts[letter] > max_count:
      max_count = letter_counts[letter]
      max_letter = letter
  
  return (max_letter)

In [19]:
find_most_common_letter("Hello, World!")

'L'

**Q8.** Write a recursive Python function that generate Fibonacci series.

In [20]:
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)

In [21]:
fibonacci (6)

8

In [22]:
for i in range(10):
  print (i, fibonacci(i))

0 0
1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34

**Q9.** Write a recursive Python function that takes a list of integers and returns the sum of all the numbers in the list.

In [23]:
def recursive_sum(numbers):
  if not numbers: # if the list of numbers of empty
    return 0 # return zero
  else: # otherwise
    # return sum the first num in the list and 
    # the sum of the remaining items in the list
    return numbers[0] + recursive_sum(numbers[1:])

In [24]:
recursive_sum([1, 2, 3, 4, 5])

15

**Q10.** Write a Python function that takes a list of strings and returns the number of unique words in the list.

In [25]:
def count_unique_words(words):
  unique_words = [] # create an empty list to store the unique words
  for word in words: # for each word in the original list of words
    if word not in unique_words: # if the word is not the unique list
      unique_words.append(word) # add that word to the unique list
  return len(unique_words) # return the length of the list of the unique words

In [26]:
words = ['apple', 'banana', 'apple', 'cherry', 'banana', 'date']
count_unique_words(words)

4