<a href="https://colab.research.google.com/github/ahmedmoustafa/AUC-Fundamentals-of-Data-Science-II-Spring-2023/blob/main/examples/2d_matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2D Matrix

## Q1.

Write the Python code to create the following 3 Ã— 3 two-dimensional  matrix:

\begin{equation}
\begin{pmatrix}
1 & 2 & 3 \\
4 & 5 & 6 \\
7 & 8 & 9 \\
\end{pmatrix}
\end{equation}

**Hint:** The above matrix can be considered a list of lists.

In [1]:
m = [[1,2,3], [4,5,6], [7,8,9]]
m

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Q2

Write the code to retrieve the value of the element located in the first row, and second column and show the output

In [2]:
m[0][1]

2

## Q3.

Write the code to display the entire matrix again

### Method 1

Print the matrix as it is using a single `print` statement

In [3]:
print(m)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Method 2

Print the matrix, row by row using three `print` statments

In [4]:
print(m[0], "\n", m[1], "\n", m[2])

[1, 2, 3]
 [4, 5, 6]
 [7, 8, 9]

## Method 3

Using two nested `for`-loops to print the matrix element by element. The outer `for`-loop goes over the rows while the inner `for`-loop goes the columns.

In the `print()` function, instead of ending with a `newline`, let's end it with a `tab` (i.e., `end = "\n"`) to stay on the same line for the row.

In [5]:
for i in range(3):
  for j in range(3):
    print(m[i][j], end = "\t")
  print("")

1	2	3
4	5	6
7	8	9